<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th>Primary rapper</th>
      <th>Featured rapper</th>
      <th>Producer</th>
      <th>Title</th>
      <th>Song link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.primary_rapper %></td>
        <td><%= song.featured_rapper %></td>
        <td><%= song.producer %></td>
        <td><%= song.title %></td>
        <td><%= song.song_link %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
